<menu>
    <ul>
        <li>
            <a href="#" style="color: inherit">Learn Hiragana</a>
        </li>
        <br>
        <li style="color: grey">Learn Katakanan<br>(coming soon!)</li>
        <br>
        <li style="color: grey">Learn Kanji<br>(coming soon!)</li>
    </ul>
    <hr>
    <ul>
        <li>
            <a href="#" style="color: inherit">JLPT 5</a>
        </li>
        <br>
        <li style="color: grey">JLPT 4<br>(coming soon!)</li>
        <br>
        <li style="color: grey">JLPT 3<br>(coming soon!)</li>
        <br>
        <li style="color: grey">JLPT 2<br>(coming soon!)</li>
        <br>
        <li style="color: grey">JLPT 1<br>(coming soon!)</li>
    </ul>
</menu>

<label *ngIf="displayWord" title="{{currentWord.romaji}}" id="jWord" [(innerHTML)]="displayWord"></label>
<div id="container">
    <div id="input"></div>
    <input #hiddenInput type="text" id="hiddenInput" (keyup)="charAdded(hiddenInput.value)" (keypress)="_keyPress($event)">
</div>
<section *ngIf="showInfo">
    <p class="word-info">
        Kanji: {{ currentWord?.kanji || "No kanji"}} ({{currentWord?.romaji}})
    </p>
    <p class="word-info">
        English: {{ currentWord?.english}}
    </p>
    <p class="word-info">
        Usage:
    </p>

</section>