#jWord {
    position: absolute;
    top: 80px;
    font-size: 60px;
    width: 100%;
    text-align: center;
}

menu {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding-left: 0;
    font-size: 17px;
    width: 180px;
}

menu p {
    font-size: 17px;
    width: 180px;
}

section {
    position: absolute;
    top: 230px;
    font-size: 60px;
    width: 350px;
    left: 0;
    right: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.word-info {
    margin-bottom: 5px;
    font-size: 26px;
    word-spacing: 2px;
}